{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="current_password" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_confirmation" placeholder="New password (confirm)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
